@import "_control";
@import "_button";
@import "_font";
@import "_container";

@include input();
@include button();
@include font();
@include container();

section {
  min-width: 100vw;
  min-height: 70vh;
}

.social-container {
  margin: 0;
}

a i {
    color: black;
}

mat-card {
  background: linear-gradient(90deg, rgba(25, 118, 210, 1) 0%, rgba(0, 128, 255, 1) 210%);
}
