@import '_container';
@import '_color';
@include container();

mat-card {
    background: $blue-background;
    padding-top: 0;
}

mat-card-title {
    color:rgb(0, 0, 0);
display:block;
font-family:Montserrat, sans-serif;
font-size:40px;
font-weight:700;
height:auto;
margin-block-end:8px;
margin-block-start:-20px;
margin-inline-end:0px;
margin-inline-start:0px;
margin-left:0px;
margin-right:0px;
margin-top:-5vh;
text-align:center;
text-size-adjust:100%;
width:auto;
-webkit-box-direction:normal;
-webkit-font-smoothing:antialiased;
-webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}

#mobile-header {
    margin-left: 6vw;    
}


mat-card-header {
    height: 15vh;
}
.container {
    width: 100vw;
    min-height: 350px;    
    max-height: 65vh;    
    position: relative;
    margin: 0 auto;
    box-shadow: none;
}
.card {
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    min-height: 350px;    
    max-height: 65vh;    
    min-width: 300px;
    max-width: 100%;
    position: relative;
    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
    -o-transition: -o-transform 1s;
    transition: transform 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 50% 50%;
}
.card div {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 260px;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 140px;
    position: absolute;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}
.card .front { 
    background: $blue-background;
}
.card .back {

    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}
.card.flipped {
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}

a {display: block;}
button {margin-bottom: 50px;}

section {
    height: 80vh;
}