@import "_control";
@import "_button";
@import "_font";
@import "_container";

@include input();
@include button();
@include font();
@include container();

section {
  min-width: 100vw;
  min-height: 70vh;
}

mat-card {
    max-width: 60vw;
} 

mat-form-field {
  width: 70%;
  margin-left: 15%;
}

.mat-form-field-underline {
  background-color: black !important;;
}