<section fxLayout="column" fxLayoutAlign="center space-between">
    <form [formGroup]="formGroup" (ngSubmit)="submitForm()" fxLayout="row" fxLayoutAlign="center" fxLayoutGap="20px">
        <div>
            <mat-form-field>
                <mat-label style="color:white">Search Filter</mat-label>
                <br />
                <mat-select formControlName="searchOptCtrl">
                    <mat-optgroup *ngFor="let group of searchGroup" [label]="group.name" [disabled]="group.disabled">
                        <mat-option *ngFor="let select of group.option" [value]="select.value">
                            {{select.viewValue}}
                        </mat-option>
                    </mat-optgroup>
                </mat-select>
                <mat-error *ngIf="formGroup.controls.searchOptCtrl.hasError('required')">
                    Search criteria is <strong>REQUIRED</strong>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="button-wrapper">
            <button class="non-home-button mat-elevation-z7" mat-flat-button><span
                    class="button-span">Submit</span></button>
        </div>
    </form>
</section>